* {
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(  to right , rgb(65, 64, 64), rgb(245, 241, 241), rgb(189, 185, 231)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;

}
.container{
    background-color: rgb(255, 236, 236) ;
    height: 300px;
    width: 500px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 12px 15px rgba(0,0,0, .5);
    margin: 10px;

}
.textarea{
    resize: none;

    width: 100%;
    height: 100px;
    outline: none;
    font-size: 18px;
    padding: 12px;
    border-radius: 60px;
    border: 2px ,solid goldenrod;

}
.counter{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.counter p{
    font-size: 18px;
    color: grey;

}
.total-char{
    color: blue;

}
.remaining-char{
    color: red;
}
@media (max-width: 600px) {
  

    .textarea {
        font-size: 16px;
        padding: 15px;
    }

    .counter {
        flex-direction: column;
        align-items: flex-start;
    }

    .counter p {
        font-size: 16px;
        margin: 5px 0;
    }
}
